.container{
    display: block;
    justify-content: center;
}
   .vid{
    display: block;
    margin: auto;
   }
   .imagnes{
    display: block;
    margin: auto;
   }
   .imagnes2{
    display: block;
    margin: auto;
   }
   .imagnes3{
    display: block;
    margin: auto;
   }